body {
    background-color: #ddd;
    padding-bottom: 100px;
}

.hide {
    display: none;
}

.icon-reload {
    cursor: pointer;
    padding-left: 7px;
    color: gray;
}

.toolbar {
    background-color: #0d6efd;
    padding: 10px 0;
    width: 101%!important;
}

.logo{
    background-image: url("images/logo_white.png");
    width: 150px;
    background: border-box;
}

.container {
    padding-top: 100px;
}

.icon-private-post{
    color: var(--bs-danger);
    padding-left: 7px;
}

.icon-public-post{
    color: var(--bs-success);
    padding-left: 7px;
}

#user_data .icon-private-post,
#user_data .icon-public-post {
    padding-left: 0;
    padding-right: 10px;
}

/* Loader */
.loader {
    background-color: #cccccce8;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 0;
}

.text-left {
    text-align: left !important;
}

a {
    text-decoration: none !important
}

.loader-spinner {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    top: 35%;
    left: 45%;
    position: absolute;
    border-top: 16px solid #0d6efd;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.7s linear infinite; /* Safari */
    animation: spin 0.7s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}